<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Exercício 3</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.0/angular.min.js"></script>

	<style type="text/css">
	h2 {
		text-align: center;
	}
	.main {
		max-width: 1024px;
		margin: auto;
	}
	input, textarea {
		width: 100%;
	}
	.formulario, .apres {
		width: 50%;
		margin: auto;
	}

	</style>
</head>
<body>
	<div ng-app ng-init="nota=0" class="main">
		<h2>Review</h2>
		<div class="formulario">
			<fieldset>
				Nota: <input type="number" min="0" max="5" ng-model="nota"><br>
				Comentário: <textarea ng-model="comentario"></textarea>
			</fieldset>
		</div>
		<br>
		<div class="apres">
			<fieldset>
				<h2>Nota: {{nota}}</h2>
				<p>{{comentario}}</p>
			</fieldset>
		</div>
	</div>
</body>
</html>